{% extends 'base/base.html' %}

{% block content %}
    

    <h1 class="pull-right">
        <div class="row">
            <div class="col-4">
                <h1>Listado De Ventas De Vehiculos</h1>
            </div>

            <div class="col-4">

            </div>

            <div class="col-4">
                <a href="{% url 'ventas:VehiculoVentaCreate' %}" class="btn btn-primary pull-right" style="margin-top: -10px; margin-bottom: 5px;">Adicionar</a>
            </div>
        </div>
        
    </h1>

    <table class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Vehiculo</th>
            <th scope="col">Venta</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% if ventas %}
            {% for vehiculoventa in ventas %}
                <tr>
                    <td>{{ vehiculoventa.id }}</td>
                    <td>{{ vehiculoventa.vehiculo }}</td>
                    <td>{{ vehiculoventa.venta }}</td>
                    <td>{{ vehiculoventa.cantidad }}</td>
                    <td>{{ vehiculoventa.precio }}</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-primary btn-warning btn-xs" href="{% url 'ventas:VehiculoVentaEdit' vehiculoventa.id %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
  
                        <a class="btn btn-primary btn-dange btn-xs" href="{% url 'ventas:VehiculoVentaElim' vehiculoventa.id %}">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                </tr>
            {% endfor %}
         {% else %}
                  <h3>No existen registros</h3>
          {% endif %}
        </tbody>
      </table>
{% endblock %}